.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
*.xcworkspacedata
*.o
*.d
config.log
config.status
lib/*
bin/*
OSX/ConfigureLibraryList
Makefile
README*txt
include/breve/config.h
steve/steveparse.tab.?
Qt/breve.pro
steve/format.c
steve/stevelex.c
OSX/README.html
